body {
  margin: 45px 45px 0 45px;
  line-height: 1.5em;
  background-color: rgba(54, 91, 159, 1.0);
  color: #1F1F1F;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

#pagebox {
  margin: 0 auto;
  /*min-width: 724px;*/
  max-width: 1024px;
}

#leftsidebar {
  display: table-cell;
  vertical-align: top;
  width: 300px;
  min-width: 170px;
  max-width: 300px;
  padding-right: 45px;
  color: #FFFCD6;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:link {
  color: #ddbb33;
}
a:visited {
  color: #C0A021;
}
a:hover {
  color: #ffee00;
}


#logo {
  width: 100%;
}

#leftsidebar p, #leftsidebar h4 {
  /*margin-left: 21px;*/
}
#leftsidebar ul {
  /*margin-left: 5px;*/
  padding-left: 20px;
  margin-top: 5px;
}
#leftsidebar h4 {
  margin-bottom: 10px;
}
#content {
  background-color: #678ACB;
  color: #1F1F1F;
  padding-bottom: 2em;
  display: table-cell;
  vertical-align: top;
  min-width: 300px;
  padding: 25px 45px 0 45px;
}
.weblogPost {
  margin-bottom: 45px;
  /*margin-bottom: 2em;*/
  /*padding-top: 1em;*/
  /*padding-right: 3em;*/
  /*padding-bottom: 3em;*/
}
.weblogPost h1 {
  margin-top: 0;
}
.weblogPostDateline, .weblogPostDisplayDate a:link, .weblogPostDisplayDate a:visited {
  margin-top: -0.7em;
  padding-bottom: 0.3em;
  color: #666666;
}
.weblogPostDateline a:hover {
  color: #d3c71d;
}
h1 a:link {
  color: #C0A021;
  font-family: 'Francois One', sans-serif;
}
h1 a:visited {
  color: #ddbb33;
  }
h1 a:hover {
  color: #ffee00;
}
.weblogPost h1 {
  font-weight: normal;
  line-height: 1.3em;
  padding-bottom: 3px;
  border-bottom: 2px solid #111111;
  margin-bottom: 25px;
}
.weblogPost p {
  margin: 16px 0 16px 0;
}
.hosted {
  font-size: 1.25em;
}
.invisible {
  visibility: hidden;
}

/* phone */
@media (max-width: 500px) {
  #pagebox {
    min-width: 300px;
  }
  body {
    margin: 0 0 0 0;
  }
  #leftsidebar {
    display: block;
    width: auto;
    min-width: none;
    max-width: none;
    padding: 10px 20px 30px 20px;
  }
  #content {
    display: block;
    min-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .podlovewebplayer_wrapper .subtitle, .podlovewebplayer_meta .togglers, .podlovewebplayer_meta .coverart {
    display: none !important;
  }
}

/* tablet */
@media (min-width: 500px) and (max-width: 700px) {
  #pagebox {
    min-width: 300px;
  }
  body {
    margin: 0 0 0 0;
  }
  #logo {
    width: 150px;
  }
  #leftsidebar {
    position: relative;
    display: block;
    width: auto;
    min-width: none;
    max-width: none;
    padding: 10px 20px 10px 20px;
    min-height: 159px;
  }
  #leftsidebar .sidebar-box {
    display: inline-block;
    max-width: 150px;
  }
  #leftsidebar .sidebar-box-1 {
    margin-right: 5px;
  }
  #leftsidebar .sidebar-box-3 {
    position: absolute;
    right: 20px;
    top: 15px;
  }
  #leftsidebar p {
    margin: 5px 0 5px 0;
  }
  #leftsidebar ul {
    margin-top: 15px;
  }
  .collapse {
    display: none;
  }
  #content {
    display: block;
    min-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

div.audiojs {
  margin-bottom: 20px;
}

.podlovewebplayer_meta {
  background: none !important;
}

.podlovewebplayer_wrapper .podlovewebplayer_meta .episodetitle, .podlovewebplayer_chapters td {
  color: #0A111E !important
}

.podlovewebplayer_wrapper .podlovewebplayer_meta .subtitle {
  color: #111111 !important;
  padding-top: 15px !important;
} 
.podlovewebplayer_wrapper {
  border-radius: 0 !important;
  background: #365A9E !important; // #243D6A !important;
}

.podlovewebplayer_wrapper .subtitle, .podlovewebplayer_wrapper td span {
  font-family: 'Nunito', sans-serif !important;
  font-weight: 300 !important;
  font-size: 14px !important;
}

.podlovewebplayer_wrapper .episodetitle h3 {
  font-family: 'Francois One', sans-serif !important;
}

.chaptertr, .podlovewebplayer_timecontrol, .podlovewebplayer_chapters, .podlovewebplayer_chapterbox {
  background: none !important;
  border: none !important;
}

.podlovewebplayer_wrapper .podlovewebplayer_tableend {
  display: none !important;
}

.chaptertr td {
  border-bottom: #243D6A 1px solid !important;
  border-top: #243D6A 1px solid !important;
}

.podlovewebplayer_chapters tr {
  border-left: #243D6A 2px solid !important;
  border-right: #243D6A 2px solid !important;
}

.podlovewebplayer_chapters tr.active td {
  color: #FFFCD6 !important;
  background: #365A9E !important;
}

.podlovewebplayer_chapters tr.active:hover td {
  color: #E0D100 !important;
  background: #365A9E !important;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.podlovewebplayer_chapters tr:hover td {
  background: #3E68B6 !important;
  color: #E0D100 !important;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.podlovewebplayer_chapterbox, tbody, table, .podlovewebplayer_chapters {
  overflow: hidden;
}

.podlovewebplayer_timecontrol, .podlovewebplayer_downloadbuttons, .podlovewebplayer_chapterbox {
  background: #4973C1 !important;
}

.mejs-controls {
  background: -webkit-linear-gradient(top, #1A2C4C, #15233D) !important;
  background: -moz-linear-gradient(top, #1A2C4C, #15233D) !important;
  background: -o-linear-gradient(top, #1A2C4C, #15233D) !important;
  background: -ms-linear-gradient(top, #1A2C4C, #15233D) !important;
  background: linear-gradient(#1A2C4C, #15233D) !important; 
}

.podlovewebplayer_timecontrol {
  background: #15233D !important;
  padding-top: -10px !important;
/*  background: -webkit-linear-gradient(top, #243D6A, #1A2C4C) !important;
  background: -moz-linear-gradient(top, #243D6A, #1A2C4C) !important;
  background: -o-linear-gradient(top, #243D6A, #1A2C4C) !important;
  background: -ms-linear-gradient(top, #243D6A, #1A2C4C) !important;
  background: linear-gradiant(#243D6A, #1A2C4C) !important;
*/}

.error404 {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

p.error404 {
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  color: #FFFCD6;
  margin-top: 20px;
}

.botamon.error404 {
  width: 150px;
}

