body {
  margin: 46px 46px 0 46px;
  line-height: 1.5em;
  background-color: rgba(54, 91, 159, 1.0);
  color: #1F1F1F;
  font-family: 'Nunito', sans-serif;
  }

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  }
#pagebox {
  margin: 0 auto;
  min-width: 724px;
  max-width: 1024px;
  }
#leftsidebar {
  display: table-cell;
  vertical-align: top;
  padding-top: 5em;
  padding-right: 5em;
  width: 300px;
  min-width: 200px;
  max-width: 300px;
  padding-top: 0;
}
#logo {
  width: 100%;
}
a:link {
  color: #ddbb33;
}
a:visited {
  color: #C0A021;
}
a:hover {
  color: #ffee00;
}
#leftsidebar p, #leftsidebar h4 {
  margin-left: 21px;
}
#leftsidebar ul {
  margin-left: 5px;
  margin-top: 5px;
}
#leftsidebar h4 {
  margin-bottom: 10px;
}
#content {
  background-color: #678ACB;
  color: #1F1F1F;
  padding-bottom: 2em;
  display: table-cell;
  vertical-align: top;
  min-width: 344px;
  padding-left: 3em;
}
.weblogPost {
  margin-bottom: 2em;
  padding-top: 1em;
  padding-right: 3em;
  padding-bottom: 3em;
}
.weblogPostDateline, .weblogPostDisplayDate a:link, .weblogPostDisplayDate a:visited {
  margin-top: -0.7em;
  padding-bottom: 0.3em;
  color: #666666;
}
.weblogPostDateline a:hover {
  color: #d3c71d;
}
h1 a:link {
  color: #C0A021;
  font-family: 'Francois One', sans-serif;
}
h1 a:visited {
  color: #ddbb33;
  }
h1 a:hover {
  color: #ffee00;
}
.weblogPost h1 {
  font-weight: normal;
  padding-bottom: 0.1em;
  line-height: 1.3em;
  border-bottom: 2px solid #111111;
}
.hosted {
  font-size: 1.25em;
}

@media (max-width: 600px) {
  #pagebox {
    min-width: 300px;
  }
  body {
    margin: 0 0 0 0;
  }
  #leftsidebar {
    display: block;
    width: auto;
    min-width: none;
    max-width: none;
    padding: 10px 20px 0 20px;
  }
  #leftsidebar p {
    margin-left: 0;
  }
  #content {
    display: block;
    min-width: 300px;
    padding-left: 1em;
  }
  .weblogPost {
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 3em;
    }
}

div.audiojs {
  margin-bottom: 20px;
}
